.LetterMatching-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-top: 6%;
    background-image: url('/public/images/LetterMatching.jpg');
    background-size: 100% 100%;  
    background-position: center; 
  }
  
  .question_container {
    display: flex;
    flex-wrap: wrap;
    width: calc(60% - 40px); /* Tahtanın içine sığacak şekilde ayarlayın, 40px tahtanın kenarlık genişliğini temsil edebilir */
    height: calc(69% - 50px); /* Aynı şekilde yüksekliği de tahtanın içine sığdırmak için */
    position: absolute; /* Pozisyonu ayarlamak için */
    top: 48%; /* Tahtanın ortasına yerleştirmek için */
    left: 75%;
    transform: translate(-48%, -50%); /* Tam ortalanmış olacak */
  }
  
  .card {
    flex: 10% 0 50%; /* her kartın genişliğini %50 yapar, böylece iki kart yan yana sığar */
    height: 50%; /* Her kartın yüksekliğini %50 yapar, böylece dört kart tahtanın içinde sığar */
    background-image: url('/public/images/question_Background.jpeg');
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Kartlar arasında küçük bir boşluk bırakır */
  }
  
  .letter {
    font-size: 48px; /* Harf boyutu */
    font-family: 'Times New Roman', serif; /* Harf fontu */
  }