.LetterMatching-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-top: 4%;
    background-image: url('/public/images/LetterMatching.jpg');
    background-size: 100% 100%;  
    background-position: center; 
  }
  
  .question_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 47%; /* Tahtanın genişliğini ayarlayın */
    height: 65%; /* Tahtanın yüksekliğini ayarlayın */
    position: absolute;
    top: 49.5%; 
    left: 71.5%;
    transform: translate(-50%, -50%); /* Merkezden çevirme */
  }
  
  .card_LetterGame {
    background-image: url('/public/images/question_Background.jpeg');
    background-size: cover;
    margin: 3px;
    margin-inline-end: 1%; /* Blok içindeki yandan marjin, yani sağ marjin için kullanılır */
    width: calc( 50% - 10px); /* Her kartın genişliği */
    height: calc(50% - 25px); /* Her kartın yüksekliği */
  }

  .continue-button {
    position: fixed; /* Butonun pozisyonunu sabitle */
    width: 15%;
    height:7%;
    bottom: 40px;    /* Alttan 20px uzaklıkta */
    right: 20%;     /* Sağdan 20px uzaklıkta */
    z-index: 10;     /* Butonun z-index'ini diğer öğelerin üstünde tut */
    background-color:hwb(0 100% 0% / 0.158); /* Fallback color */
    background-color:hwb(0 100% 0% / 0.336); /* Black w/ opacity */
    text-align: center;
    color: black;
    font-size: large;
    border: hwb(0 100% 0% / 0.158);
    border-radius: 15px;
  }
  
  
  @media screen and (max-width: 950px){
    .LetterMatching-container {
      padding-top: 3%;
    }
    
    .question_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 47%; /* Tahtanın genişliğini ayarlayın */
      height: 65%; /* Tahtanın yüksekliğini ayarlayın */
      position: absolute;
      top: 49.5%; 
      left: 71.5%;
      transform: translate(-50%, -50%); /* Merkezden çevirme */
    }
    
    .card_LetterGame {
      background-image: url('/public/images/question_Background.jpeg');
      background-size: cover;
      margin: 3px;
      margin-inline-end: 1%; /* Blok içindeki yandan marjin, yani sağ marjin için kullanılır */
      width: calc( 50% - 10px); /* Her kartın genişliği */
      height: calc(50% - 25px); /* Her kartın yüksekliği */
    }
    .continue-button {
      bottom: 30px;
    }
  }