.LetterMatching-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-top: 4%;
    background-image: url('/public/images/LetterMatching.jpg');
    background-size: 100% 100%;  
    background-position: center; 
  }
  
  .question_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 47%; 
    height: 65%; 
    position: absolute;
    top: 49.5%; 
    left: 71.5%;
    transform: translate(-50%, -50%);
  }
  
  .card_LetterGame {
    background-image: url('/public/images/question_Background.jpeg');
    background-size: cover;
    margin: 3px;
    margin-inline-end: 1%;
    width: calc( 50% - 10px);
    height: calc(50% - 25px);
  }

  .continue-button {
    position: fixed;
    width: 15%;
    height:7%;
    bottom: 40px;
    right: 20%;
    z-index: 10; 
    background-color:hwb(0 100% 0% / 0.158);
    background-color:hwb(0 100% 0% / 0.336); 
    text-align: center;
    color: black;
    font-size: large;
    border: hwb(0 100% 0% / 0.158);
    border-radius: 15px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 950px){
    .LetterMatching-container {
      padding-top: 3%;
    }
    
    .question_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 47%; 
      height: 65%;
      position: absolute;
      top: 49.5%; 
      left: 71.5%;
      transform: translate(-50%, -50%); 
    }
    
    .card_LetterGame {
      background-image: url('/public/images/question_Background.jpeg');
      background-size: cover;
      margin: 3px;
      margin-inline-end: 1%;
      width: calc( 50% - 10px); 
      height: calc(50% - 25px);
    }
    .continue-button {
      bottom: 30px;
    }
  }