.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-top: 4%;
    background-image: url('/public/images/MainPage.jpg');
    background-size: 100% 100%;  
    background-position: center; 
}
  .profile-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 10%;
    top: 17%;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    justify-content: center;
    align-items: center;
    background-color:hwb(0 100% 0% / 0.514); /* Fallback color */
    background-color:hwb(0 100% 0% / 0.514); /* Black w/ opacity */
  }

  .profile-modal-content {
    background-color:  #ffffff;
    margin: auto;
    padding: 55px;
    border-radius: 15px; /* Rounded corners for the modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    width: 25%; /* Width of the modal */
    height: 55%;
    margin-top: 70px;  /* Could be more or less, depending on screen size */
   }
   
    .profile-modal-content h1 {
        font-size: 20px;
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 20px;
        text-align: center;
        color: #019BE1; /* Blue color for the MY PROFILE heading */
        font-family: Arial, sans-serif; /* Font family can be changed as needed */
    }

   input[type='text'],
    select {
    box-sizing: border-box;
    width: 250px;
    border: 2px solid #a1d1e6; /* Light blue border */
    border-radius: 10px; /* Rounded borders for the inputs */
    padding: 3px;
    font-size: 16px;
    margin: auto;
    margin-bottom: 5px; /* Space between the inputs */
    }

    .save-button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 1rem; /* Adjust font size as needed */
        font-weight: bold;
        transition: background-color 0.3s ease;
      }
      
      .icon-save {
        margin-top: 4%;
        margin-right: -180px; /* Creates space between the icon and text */
        font-size: 70px; /* Adjust icon size as needed */
        color: #019BE1;
      }
      
      .save-button span {
        margin-right: -180px;
        position: absolute; /* Position the text over the icon */
        font-weight: bold; /* Make the text bold */
        color: hsl(0, 0%, 100%); /* Color of the text */
      }
      .success-message {
        color: green; /* Yeşil renk */
        position: absolute; /* Konumlandırma */
        left: 50%; /* Yatayda ortala */
        transform: translateX(-50%); /* Tam ortalamak için */
        font-size: 1rem; /* Yazı boyutu */
        font-weight: bold; /* Yazı kalınlığı */
    }

  .profile-icon {
    position: absolute; /* Position it relative to the next positioned parent */
    top: 20px; /* Space from the top */
    left: 20px; /* Space from the left */
    display: flex;
    align-items: center; /* Align text and icon vertically */
    justify-content: center; /* Center text inside the star */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  .profile-icon .icon {
    font-size: 110px; /* Size of the star icon */
    color: #019BE1; /* Color of the star icon */
   }
  .profile-icon .text {
    position: absolute; /* Position the text over the icon */
    font-weight: bold; /* Make the text bold */
    color: hsl(0, 0%, 100%); /* Color of the text */
  }
  .readonly-input {
    /* Existing styles... */
    margin-bottom: 0; /* Remove bottom margin if any */
  }

  
@media screen and (max-width: 950px ){
  
  .profile-modal {
    left: 15%;
    top: 18%;
    width: 70%; /* Full width */
    height: 80%; /* Full height */
    justify-content: center;
    align-items: center;
    background-color:hwb(0 100% 0% / 0.514); /* Fallback color */
    background-color:hwb(0 100% 0% / 0.514); /* Black w/ opacity */
  }
  .profile-modal-content {
    background-color:  #ffffff;
    padding: 65px;
    border-radius: 15px; /* Rounded corners for the modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    width: 60%; /* Width of the modal */
    height:80%;
    margin-top: 20px;  /* Could be more or less, depending on screen size */
    padding: 20px;
   }
   .profile-modal-content h1 {
    font-size: 16px;
    margin-top: -10%;
    text-align: center;
    color: #019BE1; /* Blue color for the MY PROFILE heading */
    font-family: Arial, sans-serif; /* Font family can be changed as needed */
  }
   input[type='text'],
    select {
    width: calc(100% - 40%);
    margin-left: calc(30% - 30px);;
    box-sizing: border-box;
    border: 2px solid #a1d1e6;
    border-radius: 5px; 
    padding: 2;
    font-size: 15px;
    margin-bottom: 5px;
    }

    .save-button {
      align-items: center;
      cursor: pointer;
      font-size: 1rem; /* Adjust font size as needed */
      font-weight: bold;
      transition: background-color 0.3s ease;
    }
    
    .icon-save {
      margin: -10px;
      padding-left: 130px;
      color: #019BE1;
    }
    .save-button span {
      margin: 0%;
      padding-left: 120px;
      position: absolute; /* Position the text over the icon */
      font-weight: bold; /* Make the text bold */
      color: hsl(0, 0%, 100%); /* Color of the text */
    }

}
