.educatioanlGameList-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-top: 4%;
    background-image: url('/public/images/MainPage.jpg');
    background-size: 100% 100%;  
    background-position: center; 
}
  .educatioanlGameList-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 10%;
    top: 15%;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    justify-content: center;
    align-items: center;
    background-color:hwb(0 100% 0% / 0.514); /* Fallback color */
    background-color:hwb(0 100% 0% / 0.514); /* Black w/ opacity */
  }

  .edu_card_Main {
    background-color: white; 
    padding: 5%;
    margin-top: 40%;
    margin: 50px; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    width: 200px;
    height: 100px;
  }

  
  .card-container {
    display: flex;
    justify-content: center;
    gap: 30px; /* This adds space between the two cards */
  }
   
    .profile-modal h1 {
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 20px;
        text-align: center;
        color: #019BE1; /* Blue color for the MY PROFILE heading */
        font-family: Arial, sans-serif; /* Font family can be changed as needed */
    }

    .profile-icon {
        position: absolute; /* Position it relative to the next positioned parent */
        top: 20px; /* Space from the top */
        left: 20px; /* Space from the left */
        display: flex;
        align-items: center; /* Align text and icon vertically */
        justify-content: center; /* Center text inside the star */
        cursor: pointer; /* Change cursor to pointer on hover */
      }
      .profile-icon .icon {
        font-size: 110px; /* Size of the star icon */
        color: #019BE1; /* Color of the star icon */
       }
      .profile-icon .text {
        position: absolute; /* Position the text over the icon */
        font-weight: bold; /* Make the text bold */
        color: hsl(0, 0%, 100%); /* Color of the text */
      }
      
.close {
  position: relative; /* Eğer zaten relative ise bu satırı eklemenize gerek yok */
  padding-top: 40px;
  padding-right: 40px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}