.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-top: 6%;
    background-image: url('/public/images/MainPage.jpg');
    background-size: 100% 100%;  
    background-position: center; 
  }
  .card {
    background-color: white; /* or any color you prefer */
    padding: 30px; /* This adds space inside the card */
    margin: 10px; /* This adds space outside, between the card and other elements */
    border-radius: 10px; /* Optional: if you want rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: if you want a shadow for depth */
    width: 300px; /* or any width you prefer */
    height: 200px; /* or any height you prefer */
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    gap: 30px; /* This adds space between the two cards */
  }

  .profile-icon {
    position: absolute; /* Position it relative to the next positioned parent */
    top: 20px; /* Space from the top */
    left: 20px; /* Space from the left */
    display: flex;
    align-items: center; /* Align text and icon vertically */
    justify-content: center; /* Center text inside the star */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .profile-icon .icon {
    font-size: 110px; /* Size of the star icon */
    color: #019BE1; /* Color of the star icon */
  }
  
  .profile-icon .text {
    position: absolute; /* Position the text over the icon */
    font-weight: bold; /* Make the text bold */
    color: hsl(0, 0%, 100%); /* Color of the text */
  }

/* Bu medya sorgusu, ekran genişliği 768px'den az olan ve yatay yönlendirme olan cihazlar için geçerlidir */
@media screen and (max-width: 768px) and (orientation: landscape) {
  .card-container {
    flex-direction: row; /* Kartları yatay olarak sıralar */
    flex-wrap: wrap; /* Eğer kartlar sığmazsa, alt satıra taşır */
    justify-content: space-around; /* Kartlar arasında eşit boşluk bırakır */
    align-items: center; /* Kartları dikey olarak ortalar */
  }

  .card {
    /* Yatay mod için kart boyutlarını ve stilini ayarlar */
    width: calc(50% - 20px); /* Her kart ekranın yarısını kaplar, 20px boşluk bırakır */
    height: auto; /* Yükseklik içerik boyutuna göre ayarlanır */
    margin: 10px; /* Her yönde 10px dış boşluk bırakır */
    padding: 15px; /* İç padding */
    /* Diğer stil ayarları */
  }

  .main-container {
    /* Yatay mod için ana konteyner stilini ayarlar */
    height: auto; /* Yükseklik içerik boyutuna göre ayarlanır */
    padding-top: 0; /* Üst paddingi kaldırır */
    /* Diğer stil ayarları */
  }
}
