.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 6%;
    background-image: url('/public/images/main.png');
    background-size: 100% 100%;  
    background-position: center; 
  }
  .login-form {
    font-family: 'Popins', sans-serif;
    width: 300px;
    text-align: center;
    border: none; 
    margin-left: 5%;
    margin-top: -5%; 
    font-size: 16px;
}

.login-form input[type='text'],
.login-form input[type='password'] {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
    border: none; 
    border-bottom: 2px solid rgba(239, 152, 54, 1) ;
    box-sizing: border-box;
}
  
  .login-form h1,p {
    color: rgba(239, 152, 54, 1);
    margin-bottom: 10px;
  }
  
  .login-form input[type='checkbox'] {
    margin-right: 5px;
  }
  
  .login-form label {
    color: rgba(239, 152, 54, 1); 
    font-size: 14px;
  }
  
  .login-form button {
    margin-bottom: 0;
    width: 100%;
    padding: 10px;
    background-color:rgba(239, 152, 54, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  .login-form div {
    margin-bottom: 2px; /* Adjust the value as needed */
  }
  
  .login-form a:hover {
    text-decoration: none;
  }

  @media screen and (max-width: 430px) {
    .login-container{
      background-image: url('/public/images/MobileLogin.png');
    }
    .login-form {
        margin-top: -80%;
        width: 80%; /* Ekranın %80'ine genişlik ver */
        margin-left: 0; /* Sol kenar boşluğunu kaldır */
    }
}
@media screen and (orientation: portrait) {
  .login-form {
      width: 300px; /* Sabit genişliği koru */
      margin-left: auto; /* Otomatik kenar boşlukları ile ortala */
      margin-right: auto; /* Otomatik kenar boşlukları ile ortala */
  }
}
