.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Tam ekran yüksekliği */
    padding-top: 5%;
    background-image: url('/public/images/main.png'); /* Arka plan resmini ayarlayın */
    background-size: 100% 100%;  /* Arka planı kaplayacak şekilde ayarlayın */
    background-position: center; /* Arka planı ortala */
  }
  .register-form {
    width: 250ph;
    text-align: center;
    border: none; /* Kenarlıkları kaldır */
    margin-left: 6%;
    margin-top: 10%; /* Kutuyu biraz aşağıya taşı */
}

.register-form input[type='text'],
.register-form input[type='password'] {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
    border: none; /* Input kenarlıklarını kaldır */
    border-bottom: 2px solid rgba(239, 152, 54, 1) ;/* Sadece alt kenarlık */
    box-sizing: border-box;
}
  
  .register-form h1,p {
    color: rgba(239, 152, 54, 1); /* Başlık rengi */
    margin-bottom: 20px;
  }
  
  .register-form input[type='checkbox'] {
    margin-right: 5px;
  }
  
  .register-form label {
    color: rgba(239, 152, 54, 1); /* Label rengi */
    font-size: 14px;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color:rgba(239, 152, 54, 1); /* Buton arka plan rengi */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .register-form {
    color:white; /* Link rengi */
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
  }
  
  .register-form a:hover {
    text-decoration: none;
  }
  .register-form select {
    width: calc(100% - 20px); /* Genişlik diğer inputlarla aynı olacak şekilde ayarla */
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid rgba(239, 152, 54, 1); /* Border stilini belirle */
    border-radius: 5px; /* Kenarları yuvarlaklaştır */
    box-sizing: border-box; /* Padding ve border dahil olacak şekilde genişliği ayarla */
}
.register-form select option {
    font-size: 16px; /* Option etiketleri için font boyutunu büyüt */
}

