.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Tam ekran yüksekliği */
    padding-top: 5%;
    background-image: url('/public/images/main.png'); /* Arka plan resmini ayarlayın */
    background-size: 100% 100%;  /* Arka planı kaplayacak şekilde ayarlayın */
    background-position: center; /* Arka planı ortala */
  }
  .register-form {
    width: 250ph;
    text-align: center;
    border: none; /* Kenarlıkları kaldır */
    margin-left: 6%;
    margin-top: 5%; /* Kutuyu biraz aşağıya taşı */
}

.register-form input[type='text'],
.register-form input[type='password'] {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
    border: none; /* Input kenarlıklarını kaldır */
    border-bottom: 2px solid rgba(239, 152, 54, 1) ;/* Sadece alt kenarlık */
    box-sizing: border-box;
}
  
  .register-form h1,p {
    color: rgba(239, 152, 54, 1); /* Başlık rengi */
    margin-bottom: 20px;
  }
  
  .register-form input[type='checkbox'] {
    margin-right: 5px;
  }
  
  .register-form label {
    color: rgba(239, 152, 54, 1); /* Label rengi */
    font-size: 14px;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color:rgba(239, 152, 54, 1); /* Buton arka plan rengi */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  

  .register-form a:hover {
    text-decoration: none;
  }
  .register-form select {
    width: calc(100% - 20px); /* Genişlik diğer inputlarla aynı olacak şekilde ayarla */
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid rgba(239, 152, 54, 1); /* Border stilini belirle */
    border-radius: 5px; /* Kenarları yuvarlaklaştır */
    box-sizing: border-box; /* Padding ve border dahil olacak şekilde genişliği ayarla */
}
.register-form select option {
    font-size: 16px; /* Option etiketleri için font boyutunu büyüt */
}

.back-button {
  color: rgba(239, 152, 54, 1); /* Match the color of the register button */
  font-size: 2em; /* Adjust size as needed */
  cursor: pointer; /* Change the cursor to indicate it's clickable */
}

.register-header {
  display: flex;
  align-items: center; /* Align the icon and text vertically */
  justify-content: center; /* Center the icon and text horizontally */
  gap: 10px; /* Add space between the icon and text */
}

@media screen and (max-width: 768px) {
  .register-container{
    background-image: url('/public/images/MobileLogin.png');
  }
  .register-form {
      margin-top: -45%;
      width: 70%; /* Ekranın %80'ine genişlik ver */
      margin-left: 0; /* Sol kenar boşluğunu kaldır */
  }
}
@media screen and (orientation: portrait) {
.register-form {
    width: 300px; /* Sabit genişliği koru */
    margin-left: auto; /* Otomatik kenar boşlukları ile ortala */
    margin-right: auto; /* Otomatik kenar boşlukları ile ortala */
}
}
