.agreement-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Tam ekran yüksekliği */
    padding-top: 4%;
    background-image: url('/public/images/main.png'); /* Arka plan resmini ayarlayın */
    background-size: 100% 100%;  /* Arka planı kaplayacak şekilde ayarlayın */
    background-position: center; /* Arka planı ortala */
  }
.agreement-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.agreement-modal-content {
  font-family: 'Popins', sans-serif;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10%;
}

.close {
  position: absolute; /* .agreement-modal-content'e göre pozisyonlanır */
  bottom: -20px; /* Alt kenardan 10px uzaklık */
  right: 10px; /* Sağ kenardan 10px uzaklık */
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-family: 'Popins', sans-serif;
  color:  rgba(239, 152, 54, 1);
}

form {
  text-align: center;
}

.agreement-modal-content.error {
  border: 2px solid red;
}

.text-error {
  color: red;
}

.reg-agreement-checkbox {
  margin: auto;
  margin-left: 40%;
  display: flex;
  align-items: center;
}

.reg-agreement-checkbox input[type="checkbox"] {
  text-align: center;
  margin-right: 10px;
}
.reg_button {
  font-family: 'Popins', sans-serif;
  background-color: rgba(239, 152, 54, 1); 
  border: none;
  border-radius: 10%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 110px;
  cursor: pointer;
}

@media screen and (max-width: 950px) and (orientation: portrait) {
  .agreement-container{
    background-image: url('/public/images/MobileLogin.png');
  }
  .agreement-modal-content {
    background-color: #fefefe;
    margin: 50% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 65%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .reg_button {
    background-color: rgba(239, 152, 54, 1); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 50px;
    margin-left: 25%;
    cursor: pointer;
  }
  .reg-agreement-checkbox {
    margin: auto;
    margin-left: 35%;
    display: flex;
    align-items: center;
  }
}

