.diagnosisAgreement-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-top: 6%;
    background-image: url('/public/images/MainPage.jpg');
    background-size: 100% 100%;  
    background-position: center; 
}
  .diagnosisAgreement-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 10%;
    top: 13%;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    justify-content: center;
    align-items: center;
    background-color:hwb(0 100% 0% / 0.514); /* Fallback color */
    background-color:hwb(0 100% 0% / 0.514); /* Black w/ opacity */
  }

  .diagnosisAgreement-modal-content {
    background-color:  #ffffff;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 55px;
    border-radius: 15px; /* Rounded corners for the modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    width: 45%; /* Width of the modal */
    height: 50%;
    margin-top: 70px;  /* Could be more or less, depending on screen size */
   }
   
    .profile-modal-content h1 {
        font-size: small;
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 20px;
        text-align: center;
        color: #019BE1; /* Blue color for the MY PROFILE heading */
        font-family: Arial, sans-serif; /* Font family can be changed as needed */
    }

    .profile-icon {
        position: absolute; /* Position it relative to the next positioned parent */
        top: 20px; /* Space from the top */
        left: 20px; /* Space from the left */
        display: flex;
        align-items: center; /* Align text and icon vertically */
        justify-content: center; /* Center text inside the star */
        cursor: pointer; /* Change cursor to pointer on hover */
      }
      .profile-icon .icon {
        font-size: 110px; /* Size of the star icon */
        color: #019BE1; /* Color of the star icon */
       }
      .profile-icon .text {
        position: absolute; /* Position the text over the icon */
        font-weight: bold; /* Make the text bold */
        color: hsl(0, 0%, 100%); /* Color of the text */
      }